#sidebar{
    background-color: #fafafa;
    min-width: 300px;
    height: 100%;
    min-height: calc(100vh - 64px);
    border-right: 1px solid #ddd;
    position:fixed;
    z-index: 2;
}
#sidebar .profile-avt{
    margin: 24px auto;
}
.sidebar__userinfo{
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.sidebar__feature-item{
    height: 48px;
    padding: 12px 16px;
    color: #444;
    transition:0.08s ease;
    display: block;
}
.sidebar__feature-item i+span{
    margin-left: 12px;
}
.sidebar__feature-item:hover{
    background-color: #eee;
}
.sidebar__feature-item.active{
    background-color: red;
}